@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

:root {
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-40: 2.5rem;
  --font-50: 3.125rem;

  --hind-font: 'Hind';
  --montserrat-font: 'Montserrat';

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --madder: hsl(349, 84%, 38%);
  --wisteria: hsl(272, 52%, 76%);
  --amethyst: hsl(272, 52%, 60%);
  --malachite: hsl(138, 65%, 55%);
  --gun-metal: hsl(220, 15%, 20%);
  --dark-blue: hsl(240, 100%, 10%);
  --ghost-white: hsl(240, 100%, 99%);
  --persian-orange: hsl(26, 82%, 60%);
  --anti-flash-white: hsl(0, 0%, 93%);
  --electric-blue: hsl(180, 93%, 72%);

  --transparent-white: hsl(0, 0%, 100%, 0.2);
}

body {
  color: var(--white);
  font-size: var(--font-16);
  background-color: var(--black);
  font-family: var(--hind-font), system-ui, sans-serif;
}

#app {
  gap: 3rem;
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: center;
  padding-inline: 3rem;
  flex-direction: column;
  padding-block: 4rem 3rem;
}

main {
  gap: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input,
select,
textarea {
  border: none;
  padding: 0.5rem;
  font-weight: 300;
  outline: transparent;
  border-radius: 0.2rem;
  background-color: var(--ghost-white);
}

.input-wrapper,
.output-wrapper,
.format-wrapper,
.module-wrapper {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.label,
.count-label {
  font-weight: 500;
  padding-inline: 0.2rem;
  font-size: var(--font-14);
  text-transform: uppercase;
}

.heading-wrapper {
  gap: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.heading-title {
  font-weight: 600;
  font-size: var(--font-50);
  font-family: var(--montserrat-font);
}

.heading-description {
  max-width: 75rem;
  font-weight: 400;
}

.form {
  gap: 2rem;
  width: 100%;
  display: flex;
  max-width: 75rem;
  flex-direction: column;
}

.input-wrapper {
}

.label {
}

.form-input {
}

.output-wrapper {
}

.count-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-label {
}

.count {
  font-weight: 700;
  color: var(--madder);
  letter-spacing: 0.02rem;
}

.form-output {
  resize: none;
  height: 12.5rem;
}

.options-wrapper {
  gap: 2rem;
  display: flex;
}

.format-wrapper {
  width: 100%;
}

.select-options {
  cursor: pointer;
  font-weight: 600;
  color: var(--gun-metal);
}

.option {
  font-weight: 600;
  color: var(--gun-metal);
}

.module-wrapper {
  width: 50%;
  display: none;
}

.form-module-input {
}

.submit-button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--white);
  padding-block: 1rem;
  border-radius: 0.2rem;
  font-size: var(--font-18);
  text-transform: uppercase;
  background-color: var(--gun-metal);
  border: 1px solid var(--transparent-white);
}

footer {
  width: 100%;
  margin-top: auto;
  text-align: center;
}

.footer-text {
}

.footer-link {
  text-decoration: none;
  color: var(--amethyst);
  transition: color 200ms ease;
}

.footer-link:hover {
  color: var(--wisteria);
}

.overlay {
  inset: 0;
  z-index: -1;
  opacity: 0.8;
  position: absolute;
  background-image: linear-gradient(to bottom, var(--black), var(--dark-blue));
}

@media (width <= 700px) {
  #app {
    padding-inline: 2rem;
  }

  .heading-wrapper {
    gap: 3rem;
  }

  .heading-title {
    font-size: var(--font-40);
  }

  .heading-description {
    font-size: var(--font-14);
  }

  .options-wrapper {
    gap: 1rem;
    flex-direction: column;
  }

  .format-wrapper,
  .module-wrapper {
    width: 100% !important;
  }
}

@media (width <= 425px) {
  .count-wrapper {
    flex-direction: column;
  }

  .count-label {
    order: -1;
  }
}
